:root {
    --white: hsl(0, 0%, 100%);/*bg*/
    --lightgray: hsl(212, 45%, 89%); /*desktop*/
    --grayishblue: hsl(220, 15%, 55%);/*<p>*/
    --darkblue: hsl(218, 44%, 22%); /*h1*/
    --sans-serif: "Outfit", Arial, sans-serif;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}
body {
    background-color: var(--lightgray);
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.attribution p {
    font-size: 0.80rem;
}
main {
    background-color: var(--white);
    color: var(--grayishblue);
    font-family: var(--sans-serif);
    max-width: 20rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 1.563rem 1.563rem 0 rgba(0, 0, 0, 4.77%);
}
h1 {
    color: var(--darkblue);
    font-size: 1.375rem;
    margin: 1.5rem auto auto auto;
    padding: 0;
}
p {
    font-size: 0.938rem;
    margin: 1rem 1rem auto 1rem;
    padding: 0;
}
img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

